{% extends "base.html" %}
{% block title %}New Incident{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Create New Incident</div>
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="title" class="form-control bg-dark text-light border-secondary" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Severity</label>
            <select name="severity" class="form-select bg-dark text-light border-secondary">
              <option>CRITICAL</option>
              <option>HIGH</option>
              <option selected>MEDIUM</option>
              <option>LOW</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Summary</label>
            <textarea name="summary" rows="4" class="form-control bg-dark text-light border-secondary"></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Create Incident</button>
          <a href="/incidents" class="btn btn-outline-secondary w-100 mt-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
